.card {
  color: #eee;
  text-align: center;
  margin: 20px 14px;
  background-color: rgba(137, 43, 226, 0.2);
  transition: 0.5s;
  padding-bottom: 0.2rem;
}

.card:hover {
  background-color: rgba(137, 43, 226, 0.4);
  transform: scale(1.05);
}

.card h3 {
  font-size: 1.4rem;
  padding: 0.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.card .bar {
  border-bottom: 1px solid #eee;
  width: 10%;
  margin: 0.1rem auto;
  display: block;
}
.card .btc {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem;
  color: blueviolet;
}

.card p {
  color: #eee;
  padding: 0.1rem;
  font-size: 1rem;
}

.card .btn {
  display: block;
  width: 70%;
  margin: 2rem auto;
  font-size: 1rem;
  background-color: transparent;
  color: blueviolet;
  transition: 0.4s;
  border: 1px solid blueviolet;
}

.card .btn:hover {
  transform: translateY(-4px);
  background-color: blueviolet;
  color: #000;
}
