#video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  /* position: relative; */
}

.hero-img-container {
  width: 120px;
  position: absolute;
  top: 60%;
  left: 50px;
  transform: translateY(-60%);
  height: 450px;
  overflow: hidden;
}

.hero-img-container-2 {
  width: 120px;
  height: 450px;
  position: absolute;
  top: 50%;
  top: 60%;
  left: 190px;
  transform: translateY(-60%);
  overflow: hidden;
}

.hero-img-container-3 {
  width: 120px;
  height: 450px;
  position: absolute;
  top: 50%;
  top: 60%;
  left: 330px;
  transform: translateY(-60%);
  overflow: hidden;
}

.hero-img-container-4 {
  width: 120px;
  height: 450px;
  position: absolute;
  top: 50%;
  top: 60%;
  left: 470px;
  transform: translateY(-60%);
  overflow: hidden;
}

.hero .content {
  width: 820px;
  text-align: right;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 330px;
  transform: translateY(-50%);
  padding-right: 50px;
  line-height: 40px;
}

.hero .content h1 {
  font-size: 4.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 100;

  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 25px;
  text-align: right;
  margin-left: 250px;
}

/* button section */
.hero-button:hover .hero-button-icon {
  transform: scale(1.6);
  color: blueviolet;
}

@media screen and (max-width: 640px) {
  .hero-img-container,
  .hero-img-container-2,
  .hero-img-container-3,
  .hero-img-container-4 {
    display: none;
  }
  .hero .content {
    text-align: center;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -30%);
    padding-right: 0px;
    line-height: 60px;
  }
  .content h1 {
    font-size: 2.4rem !important;
  }
  .content p {
    font-size: 1rem !important;
    margin-bottom: 3rem;
    margin: 1rem 0;
    line-height: 25px;
    text-align: right;
    margin-left: 0px;
    text-align: center;
  }
}
