#video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  /* position: relative; */
}

.hero-img-container {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  height: 450px;
  overflow: hidden;
}
.hero-img-container:hover img {
  transform: scale(1.1);
}
.hero-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.hero-img-container-2 {
  width: 230px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 450px;
  overflow: hidden;
}
.hero-img-container-2:hover img {
  transform: scale(1.1);
}
.hero-img-container-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.hero .content {
  width: 800px;
  text-align: right;
  position: absolute;
  margin: auto;
  height: fit-content;
  top: 50%;
  left: 400px;
  transform: translateY(-50%);
  padding-right: 50px;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 3.3rem;
}
.hero .btn {
  margin: 1rem 0.5rem;
}

@media screen and (max-width: 640px) {
  .hero-img-container,
  .hero-img-container-2 {
    display: none;
  }
  .hero .content {
    text-align: center;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    padding-right: 0px;
  }
  .content h1 {
    font-size: 2.8rem !important;
  }
  .content p {
    font-size: 1rem !important;
    margin-bottom: 3rem;
  }
}
