.footer {
  box-sizing: border-box !important;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.592), black),
    url("../../Assets/Gallery-img-4.jpeg");
  background-position: center;
  background-size: cover;
}

a hr {
  width: 100%;
  border: 0;
  height: 2px;
  border-radius: 50px;
  margin-top: 4px;
  background: blueviolet;
}
